main {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
}

section {
    background-color: var(--dark);
    padding: 0 var(--container-padding);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    scroll-snap-align: center;
}

section div {
    max-width: 880px;
    width: 90%;
    margin: 0 auto;
}

section img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    max-width: 600px;
}

section img.small {
    width: 308px;
}

address {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

address a {
    display: flex;
    cursor: pointer;
}

address a img {
    display: block;
    width: 45px;
    position: initial;
}

.active-scroll-spy {
    color: var(--yellow);
}

h2 {
    font-family: var(--light-font);
    color: var(--blue);
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    margin: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.3s;
}

p {
    font-family: var(--bold-font);
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #FFF;
    margin: 0;
    opacity: 0;
    transition: 0.3s ease-in-out;
    transition-delay: 0.8s;
}

address,
h4 {
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 0.5s;
}

.scroll-container {
    scroll-snap-align: start;
}

.active-scroll-spy h2,
.active-scroll-spy h3,
.active-scroll-spy h4,
.active-scroll-spy p,
.active-scroll-spy address {
    opacity: 1;
}

.active-scroll-spy .skills {
    opacity: 1;
    transition: 0.3s ease-in-out;
    transition-delay: 1.5s;
}

/* * Last Slide */
#outro {
    text-align: center;
}

#outro h4 {
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #FFF;
}

#outro h4 span {
    color: var(--yellow);
}

#outro img.footer-logo {
    background: rgb(16 24 32 / 40%);
    z-index: 999;
    position: relative;
    width: 300px;
    margin-bottom: 50px;
    opacity: 0;
}

.active-scroll-spy img.footer-logo,
.active-scroll-spy address {
    opacity: 1;
    transition: 0.3s ease-in-out;
    transition-delay: 0.8s;
}

.skills {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    max-width: 90%;
    flex-wrap: wrap;
    opacity: 0;
    max-height: 200px;
    overflow: scroll;
    position: relative;
}

h3.skill {
    padding: 10px;
    margin: 0;
    line-height: 20px;
    background: var(--orange);
    color: #fff;
    border-radius: 10px;
    font-family: var(--light-font);
    user-select: none;
    font-size: 20px;
}

@media (max-width: 1100px) {
    section {
        padding: 0 calc(var(--container-padding) / 4);
        min-height: auto;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 25px;
        line-height: 40px;
        background: rgb(16 24 32 / 40%);
        z-index: 999;
        position: relative;    
    }
    section img {
        width: 100%;
    }
    section img.small {
        width: 50% !important;
    }
    #outro img.footer-logo {
        display: none;
    }
    .skills {
        margin: 10px 0;
        gap: 5px;
    }
    h3.skill {
        font-size: 15px;
    }
}

.logo {
    width: 200px;
    padding: 20px;
}

span.logo {
    font-size: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (orientation: landscape) and (max-width: 1100px) {
    html {
        background: var(--dark);
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
    }
    body::before {
        content: 'portrait screen needed for best experience.';
        color: #fff;
        font-size: 30px;
        padding: 20px;
        font-family: var(--bold-font);
    }
    section {
        display: none;
    }
}

@media(max-width: 767px) {
    #outro h4 {
        font-size: 24px;
        line-height: 35px;
    }

    #outro img {
        width: 35px;
    }

    span.logo {
        bottom: 60px;
    }
}